

.d-flex {
    align-items: center;
    background: black;
    max-width: auto;
    height: 10rem;
    font-size: 4rem;
    
    
}

.seis {
    color: white;
    margin-right: 1rem;
    background-color: rgb(66, 66, 66);
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: 4rem;
    text-align: center;
}

.cinco{
    color: white;
    margin-right: 1rem;
    background-color: rgb(66, 66, 66);
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: 4rem;
    text-align: center;
}

.cuatro {
    color: white;
    margin-right: 1rem;
    background-color: rgb(66, 66, 66);
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: 4rem;
    text-align: center;
}

.tres {
    color: white;
    margin-right: 1rem;
    background-color: rgb(66, 66, 66);
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: 4rem;
    text-align: center;
}

.dos {
    color: white;
    margin-right: 1rem;
    background-color: rgb(66, 66, 66);
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: 4rem;
    text-align: center;
}

.uno {
    color: white;
    background-color: rgb(66, 66, 66);
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: 4rem;
    text-align: center;
    
}

.fas {
    margin-right: 2rem;
    color: rgb(66, 66, 66);
    font-size: 6rem;
    
}
